In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

In [2]:
california_csv = "clean_data/finalized_california_data.csv"
georgia_csv = "clean_data/finalized_georgia_data.csv"

california_data = pd.read_csv(california_csv)
georgia_data = pd.read_csv(georgia_csv)

pd.options.display.max_columns = None

In [10]:
# Dataframes for each state with fewer columns

california_heatmap_data = california_data[["id","streetAddress", "city","state","zipcode","longitude","latitude", "pool", "price"]]
georgia_heatmap_data = georgia_data[["id","streetAddress", "city","state","zipcode","longitude","latitude", "pool", "price"]]

In [11]:
# Dataframes for each state with a column that includes full concat address

california_heatmap_data["fulladdress"] = california_heatmap_data["streetAddress"] + ", " + california_heatmap_data["city"] + ", " + california_heatmap_data["state"] + " " + california_heatmap_data["zipcode"].astype(str)
georgia_heatmap_data["fulladdress"] = georgia_heatmap_data["streetAddress"] + ", " + georgia_heatmap_data["city"] + ", " + georgia_heatmap_data["state"] + " " + georgia_heatmap_data["zipcode"].astype(str)

/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# Dataframes for each state for outlier homes

california_outliers = california_heatmap_data.loc[california_heatmap_data["price"] >= 2300150]
georgia_outliers = georgia_heatmap_data.loc[georgia_heatmap_data["price"] >= 887650]

,id,streetAddress,city,state,zipcode,longitude,latitude,pool,price,fulladdress
11,30055-2072073381,3000 Highway 229,Mansfield,GA,30055.0,-83.689209,33.547943,1,1300000.0,"3000 Highway 229, Mansfield, GA 30055.0"
14,30055-117763785,1020 Estes Rd,Mansfield,GA,30055.0,-83.662109,33.583282,1,1200000.0,"1020 Estes Rd, Mansfield, GA 30055.0"
63,30522-241890232,230 Wolf Branch Trl,Cherry Log,GA,30522.0,-84.298317,34.788124,0,1450000.0,"230 Wolf Branch Trl, Cherry Log, GA 30522.0"
64,30522-228843331,62 Old Covered Bridge Ln,Cherry Log,GA,30522.0,-84.276192,34.745319,0,1850000.0,"62 Old Covered Bridge Ln, Cherry Log, GA 30522.0"
127,30606-54370728,840 Bobbin Mill Rd,Athens,GA,30606.0,-83.398201,33.941586,0,915000.0,"840 Bobbin Mill Rd, Athens, GA 30606.0"
...,...,...,...,...,...,...,...,...,...,...
5128,30306-35930132,797 Cumberland Rd NE,Atlanta,GA,30306.0,-84.361015,33.795902,0,1175000.0,"797 Cumberland Rd NE, Atlanta, GA 30306.0"
5129,30306-35925493,1635 Wildwood Rd NE,Atlanta,GA,30306.0,-84.349152,33.799320,0,2200000.0,"1635 Wildwood Rd NE, Atlanta, GA 30306.0"
5130,30306-2070135449,910 Ponce De Leon Ave NE UNIT 8,Atlanta,GA,30306.0,-84.357597,33.774414,0,915000.0,"910 Ponce De Leon Ave NE UNIT 8, Atlanta, GA 3..."
5131,30306-35850883,943 Saint Charles Ave NE,Atlanta,GA,30306.0,-84.356583,33.775070,0,1725000.0,"943 Saint Charles Ave NE, Atlanta, GA 30306.0"
5133,30306-35918421,1476 N Highland Ave NE,Atlanta,GA,30306.0,-84.351303,33.794895,0,2149500.0,"1476 N Highland Ave NE, Atlanta, GA 30306.0"

In [ ]:
# Dataframes for each state for homes that include pools
california_pools = california_heatmap_data.loc[california_heatmap_data["pool"] == 1]
georgia_pools = georgia_heatmap_data.loc[georgia_heatmap_data["pool"] == 1]